Informatik BMLD ZHAW, HS 2022

# Leistungsnachweis Pandas

## Aufgabenstellung
In diesem Leistungsnachweises sollen die bisher erworbenen Kenntnisse von Python, und insbesondere von Pandas, angewendet werden. Aufgabe ist es, entsprechend der vier Schritte der Datenanalyse eine eigene Datenanalyse anhand von selbst gewählten Daten zu erstellen. Folgende Anforderungen werden an die 4 Schritte gestellt:
1. Daten beschaffen und laden:
- Wählen eine Datenquelle und einen Datensatz (nicht das Beispiel Lebenserwartung aus der Vorlesung)
- Für ein «erfüllt» reicht ein Datensatz aus «Our World in Data»
- Zusatzpunkte gibt es, wenn weitere Argumente für den read-Befehl benutzt werden müssen.
2. Datenvorbereitung
- Hier sollen die Daten in das Long Format gebracht werden
- Sind die Daten bereits im Long Format, muss in diesem Schritt nichts gemacht werden
- Hier gibt es Zusatzpunkte, wenn die melt-Methode verwendet wird oder wenn mehrere Datensetzen vereint werden.
3. Daten-Exploration
- Mach eine statistische Analyse jeder Spalte (im Long Format)
4. Daten-Analyse. Wie beim Excel-Leistungsnachweise:
- Überlege eine für die Daten geeignete Forschungsfrage
- Beantwortet sie mit einer sinnvollen Visualisierung der Daten
- Beschreibe in wenigen Sätzen (als Richtlinie: max. 10) das Vorgehen und die Resultate der Visualisierung.
- Zusatzpunkte: Verwendung von Pivot, mehrere Visualisierungen, Recherche zur Plausibilisierung der Resultate.

## Rahmenbedingungen
- Ihr arbeitet in Gruppen von maximal 3 Personen.
- In der übungsstunde vom 1. Dezember könnt ihr Fragen stellen und bekommt Hilfe durch Adrian.
- Abgabezeitpunkt ist der 3. Dezember 2022 um 20h.
- Abzugeben ist eine Jupyter-Datei auf Moodle. Es reicht, wenn eine Person die Datei einreicht. Dateiname: Titel_Nachname1_Nachname2_Nachname3.ipynb
- Der Nachteilsausweis zählt 10% der Gesamtnote

Forschungsfrage:
## Ist Homeoffice eine effektive Art um den Energieverbrauch zu reduzieren?
### Abgrenzungen
- Nur Schweiz (Auch im Wissen, dass Bundesamt für Statistik nicht die beste Quelle ist)
- Um den Aufwand zu reduzieren wird nur der Individualverkehr betrachtet

### ToDo:
- Bessere Forschungsfrage? Ist reduzierte Mobilität...

### Quellen:

https://www.bfs.admin.ch/bfs/de/home/statistiken/mobilitaet-verkehr/personenverkehr/leistungen.html

## 1 Daten beschaffen und laden
Quelle: [Endenergieverbrauch nach Energieträgern](https://www.bfs.admin.ch/bfs/de/home/statistiken/energie/verbrauch.assetdetail.23104756.html)

Download als xlxs und speichern als Endenergieverbrauch nach `Endenergieverbrauch nach Energieträgern_raw.xlsx`. Die Daten müssen zwingend in Excel aufgearbeitet und bereinigt werden (abspeichern als CSV, einfügen eines einzeiligen Headers, entfernen aller unnötigen Leerzeichen) Die bereinigte Datei wird unter `Endenergieverbrauch nach Energieträgern_clean.csv` gespeichert, wobei nur das Arbeitsblatt 'in Terajoules' verwendet wird.

Für den Import wird die Funktion [pandas.read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) verwendet, inkluse der nötigen Argumente.

In [28]:
import pandas as pandas
df = pandas.read_csv('Endenergieverbrauch nach Energieträgern_clean.csv', engine='python', header=9, skipfooter=11, na_values='...')
df

,Jahr,Total TJ,Erdölbrennstoffe TJ,Treibstoffe TJ,Elektrizität TJ,Gas TJ,Kohle und Koks TJ,Holz und Holzkohle TJ,Fernwärme TJ,Abfälle TJ,Übrige erneuerbare Energien TJ
0,1910,99’990,240,500,3’530,2’220,76’310,17’190,NaN,NaN,NaN
1,1911,109’490,340,620,4’330,2’350,84’660,17’190,NaN,NaN,NaN
2,1912,111’190,350,660,5’040,2’570,85’380,17’190,NaN,NaN,NaN
3,1913,115’670,340,690,5’450,2’550,89’450,17’190,NaN,NaN,NaN
4,1914,112’640,150,520,5’670,2’570,86’900,16’830,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
107,2017,852’260,127’930,290’100,210’540,118’910,4’610,42’720,19’790,11’220,26’440
108,2018,833’250,115’630,294’300,207’530,112’310,4’290,40’450,19’360,11’070,28’310
109,2019,836’230,112’310,294’360,205’910,115’210,3’810,41’080,21’530,11’670,30’350
110,2020,747’900,101’110,226’720,200’570,112’900,3’660,39’860,21’050,11’610,30’420
111,2021,794’720,111’710,233’210,209’210,122’280,3’700,46’390,23’090,12’030,33’100

## 2 Datenvorbereitung
Die Daten stehen im `wide` Format zur verfügung und müssen mit `melt` ins `long` Format überführt werden.

Funktion [pandas.melt](https://pandas.pydata.org/docs/reference/api/pandas.melt.html)

In [48]:
df_long = df.melt(id_vars=["Jahr","Total TJ"])
df_long

KeyError: "The following 'id_vars' are not present in the DataFrame: ['Total TJ']"