Informatik BMLD ZHAW, HS 2022

# Leistungsnachweis Pandas

## Aufgabenstellung
In diesem Leistungsnachweises sollen die bisher erworbenen Kenntnisse von Python, und insbesondere von Pandas, angewendet werden. Aufgabe ist es, entsprechend der vier Schritte der Datenanalyse eine eigene Datenanalyse anhand von selbst gewählten Daten zu erstellen. Folgende Anforderungen werden an die 4 Schritte gestellt:
1. Daten beschaffen und laden:
- Wählen eine Datenquelle und einen Datensatz (nicht das Beispiel Lebenserwartung aus der Vorlesung)
- Für ein «erfüllt» reicht ein Datensatz aus «Our World in Data»
- Zusatzpunkte gibt es, wenn weitere Argumente für den read-Befehl benutzt werden müssen.
2. Datenvorbereitung
- Hier sollen die Daten in das Long Format gebracht werden
- Sind die Daten bereits im Long Format, muss in diesem Schritt nichts gemacht werden
- Hier gibt es Zusatzpunkte, wenn die melt-Methode verwendet wird oder wenn mehrere Datensetzen vereint werden.
3. Daten-Exploration
- Mach eine statistische Analyse jeder Spalte (im Long Format)
4. Daten-Analyse. Wie beim Excel-Leistungsnachweise:
- Überlege eine für die Daten geeignete Forschungsfrage
- Beantwortet sie mit einer sinnvollen Visualisierung der Daten
- Beschreibe in wenigen Sätzen (als Richtlinie: max. 10) das Vorgehen und die Resultate der Visualisierung.
- Zusatzpunkte: Verwendung von Pivot, mehrere Visualisierungen, Recherche zur Plausibilisierung der Resultate.

## Rahmenbedingungen
- Ihr arbeitet in Gruppen von maximal 3 Personen.
- In der übungsstunde vom 1. Dezember könnt ihr Fragen stellen und bekommt Hilfe durch Adrian.
- Abgabezeitpunkt ist der 3. Dezember 2022 um 20h.
- Abzugeben ist eine Jupyter-Datei auf Moodle. Es reicht, wenn eine Person die Datei einreicht. Dateiname: Titel_Nachname1_Nachname2_Nachname3.ipynb
- Der Nachteilsausweis zählt 10% der Gesamtnote

Forschungsfrage:
## Ist Homeoffice eine effektive Art um den Energieverbrauch zu reduzieren?
### Abgrenzungen
- Nur Schweiz (Auch im Wissen, dass Bundesamt für Statistik nicht die beste Quelle ist)
- Um den Aufwand zu reduzieren wird nur der Individualverkehr betrachtet

### ToDo:
- Bessere Forschungsfrage? Ist reduzierte Mobilität...

### Quellen:

https://www.bfs.admin.ch/bfs/de/home/statistiken/mobilitaet-verkehr/personenverkehr/leistungen.html

## 1 Daten beschaffen und laden
Quelle: [Endenergieverbrauch nach Energieträgern](https://www.bfs.admin.ch/bfs/de/home/statistiken/energie/verbrauch.assetdetail.23104756.html)

Download als xlxs und speichern als Endenergieverbrauch nach `Endenergieverbrauch nach Energieträgern_raw.xlsx`. Die Daten müssen zwingend in Excel aufgearbeitet und bereinigt werden (abspeichern als CSV, einfügen eines einzeiligen Headers, entfernen aller unnötigen Leerzeichen, entfernen aller Tausenderzeichen) Die bereinigte Datei wird unter `Endenergieverbrauch nach Energieträgern_clean.csv` gespeichert, wobei nur das Arbeitsblatt 'in Terajoules' verwendet wird.

Für den Import wird die Funktion [pandas.read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) verwendet, inkluse der nötigen Argumente.

In [109]:
import pandas as pandas
df = pandas.read_csv('Endenergieverbrauch nach Energieträgern_clean.csv', engine='python', header=9, skipfooter=11, na_values='...')
df

,Jahr,Total,Erdölbrennstoffe,Treibstoffe,Elektrizität,Gas,Kohle und Koks,Holz und Holzkohle,Fernwärme,Abfälle,Übrige erneuerbare Energien
0,1910,99990,240,500,3530,2220,76310,17190,NaN,NaN,NaN
1,1911,109490,340,620,4330,2350,84660,17190,NaN,NaN,NaN
2,1912,111190,350,660,5040,2570,85380,17190,NaN,NaN,NaN
3,1913,115670,340,690,5450,2550,89450,17190,NaN,NaN,NaN
4,1914,112640,150,520,5670,2570,86900,16830,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
107,2017,852260,127930,290100,210540,118910,4610,42720,19790.0,11220.0,26440.0
108,2018,833250,115630,294300,207530,112310,4290,40450,19360.0,11070.0,28310.0
109,2019,836230,112310,294360,205910,115210,3810,41080,21530.0,11670.0,30350.0
110,2020,747900,101110,226720,200570,112900,3660,39860,21050.0,11610.0,30420.0
111,2021,794720,111710,233210,209210,122280,3700,46390,23090.0,12030.0,33100.0

## 2 Datenvorbereitung
Die Daten stehen im `wide` Format zur verfügung und müssen mit `melt` ins `long` Format überführt werden.

Funktion [pandas.melt](https://pandas.pydata.org/docs/reference/api/pandas.melt.html)

Parameter setzten, damit:
- alle NaN Werte entfernt werden
- variable zu Kategorie wird
- value zu Wert (TJ) wird

In [110]:
df_long = df.melt(id_vars=["Jahr"],var_name='Kategorie',value_name='Wert (TJ)').dropna()
df_long

      Jahr                    Kategorie  Wert (TJ)
0     1910                        Total    99990.0
1     1911                        Total   109490.0
2     1912                        Total   111190.0
3     1913                        Total   115670.0
4     1914                        Total   112640.0
...    ...                          ...        ...
1115  2017  Übrige erneuerbare Energien    26440.0
1116  2018  Übrige erneuerbare Energien    28310.0
1117  2019  Übrige erneuerbare Energien    30350.0
1118  2020  Übrige erneuerbare Energien    30420.0
1119  2021  Übrige erneuerbare Energien    33100.0

[904 rows x 3 columns]

## 3. Daten-Exploration
Graphische Darstellung der relevanten Kategorien.

In [120]:
df_Reduziert = df_long[(df_long["Jahr"] >= 2017)]
#& ((df_long["Kategorie"] == "Treibstoffe") | (df_long["Kategorie"] == "Elektrizität"))
df_Reduziert

      Jahr                    Kategorie  Wert (TJ)
107   2017                        Total   852260.0
108   2018                        Total   833250.0
109   2019                        Total   836230.0
110   2020                        Total   747900.0
111   2021                        Total   794720.0
219   2017             Erdölbrennstoffe   127930.0
220   2018             Erdölbrennstoffe   115630.0
221   2019             Erdölbrennstoffe   112310.0
222   2020             Erdölbrennstoffe   101110.0
223   2021             Erdölbrennstoffe   111710.0
331   2017                  Treibstoffe   290100.0
332   2018                  Treibstoffe   294300.0
333   2019                  Treibstoffe   294360.0
334   2020                  Treibstoffe   226720.0
335   2021                  Treibstoffe   233210.0
443   2017                 Elektrizität   210540.0
444   2018                 Elektrizität   207530.0
445   2019                 Elektrizität   205910.0
446   2020                 Elektrizität   200570.0
447   2021                 Elektrizität   209210.0
555   2017                          Gas   118910.0
556   2018                          Gas   112310.0
557   2019                          Gas   115210.0
558   2020                          Gas   112900.0
559   2021                          Gas   122280.0
667   2017               Kohle und Koks     4610.0
668   2018               Kohle und Koks     4290.0
669   2019               Kohle und Koks     3810.0
670   2020               Kohle und Koks     3660.0
671   2021               Kohle und Koks     3700.0
779   2017           Holz und Holzkohle    42720.0
780   2018           Holz und Holzkohle    40450.0
781   2019           Holz und Holzkohle    41080.0
782   2020           Holz und Holzkohle    39860.0
783   2021           Holz und Holzkohle    46390.0
891   2017                    Fernwärme    19790.0
892   2018                    Fernwärme    19360.0
893   2019                    Fernwärme    21530.0
894   2020                    Fernwärme    21050.0
895   2021                    Fernwärme    23090.0
1003  2017                      Abfälle    11220.0
1004  2018                      Abfälle    11070.0
1005  2019                      Abfälle    11670.0
1006  2020                      Abfälle    11610.0
1007  2021                      Abfälle    12030.0
1115  2017  Übrige erneuerbare Energien    26440.0
1116  2018  Übrige erneuerbare Energien    28310.0
1117  2019  Übrige erneuerbare Energien    30350.0
1118  2020  Übrige erneuerbare Energien    30420.0
1119  2021  Übrige erneuerbare Energien    33100.0

In [129]:
df_Treibstoffe = df_Reduziert[df_Reduziert["Kategorie"] == "Treibstoffe"]
df_Treibstoffe

# df_Elektrizität = df_Reduziert[df_Reduziert["Kategorie"] == "Elektrizität"]
# df_Elektrizität

     Jahr    Kategorie  Wert (TJ)
331  2017  Treibstoffe   290100.0
332  2018  Treibstoffe   294300.0
333  2019  Treibstoffe   294360.0
334  2020  Treibstoffe   226720.0
335  2021  Treibstoffe   233210.0